.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
.btn{
    background-color: darkviolet;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-setek{
    flex: 1 150px;
    padding: 2px 10px 2px 10px;
    margin-top: 50px;
}
.btn{
    width: 100%;
}